/* .container {
    width: 100vw !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .container > .card {
    width: 80%;
    height: 72%;
    padding: 30px 40px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .container > .card > .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .container > .card > .top > .name {
    width: 30%;
    color: #fff;
    border-radius: 10px;
    background-color: #006864;
  }
  
  .container > .card > .top > .name > h4 {
    margin-top: 1px;
    padding-top: 5px;
  }
  
  .container > .card > .top > .questionCount {
    width: 40%;
  }
  
  .container > .card > .top > .time {
    width: 30%;
    color: #fff;
    border-radius: 10px;
    background-color: #006864;
  }
  
  .container > .card > .top > .time > h4 {
    margin-top: 1px;
    padding-top: 5px;
  }
  
  .container > .card > .top > .name,
  .questionCount,
  .time {
    text-align: center;
  }
  
  .container > .card > .middle {
    margin: 20px 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .container > .card > .middle > .question {
    width: 100%;
    height: 200px;
    font-size: 20px;
    padding: 14px 0;
  }
  
  .container > .card > .middle > .options {
    width: 100%;
    height: 50%;
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .container > .card > .middle > .options > button {
    padding: 3px 0;
    color: #006864;
    border-radius: 10px;
    outline: 2px !important;
    border: 2px solid transparent;
  }
  
  .container > .card > .middle > .options > button:focus {
    border: 2px solid #006864 !important;
    color: #fff;
    background-color: #006864;
  }
  

  .container > .card > .middle > .options > ol > li {
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  
  .container > .card > .middle > .options > ol > li:hover {
    cursor: pointer;
  }
  
 
  
  .container > .card > .bottom {
    position: absolute;
    bottom: 27px;
    right: 40px;
  }
  
  .container > .card > .bottom > button {
    padding: 5px 65px;
    border-radius: 10px;
    color: #fff;
    background-color: #006864;
    border: 2px solid transparent;
    transition: 0.4s all;
  }
  
  .container > .card > .bottom > button:hover {
    cursor: pointer;
    color: #006864;
    border: 2px solid #006864;
    background-color: transparent;
  }
  
  .active {
    color: #fff;
    background-color: #006864;
  }
   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .card {
  width: 80%;
  height: 72%;
  padding: 30px 40px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.container > .card > .top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container > .card > .top > .name {
  width: 30%;
  color: #fff;
  border-radius: 10px;
  background-color: #006864;
}

.container > .card > .top > .name > h4 {
  margin-top: 1px;
  padding-top: 5px;
}

.container > .card > .top > .questionCount {
  width: 40%;
}

.container > .card > .top > .time {
  width: 30%;
  color: #fff;
  border-radius: 10px;
  background-color: #006864;
}

.container > .card > .top > .time > h4 {
  margin-top: 1px;
  padding-top: 5px;
}

.container > .card > .top > .name,
.questionCount,
.time {
  text-align: center;
}

.container > .card > .middle {
  margin: 20px 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container > .card > .middle > .question {
  width: 100%;
  height: 200px;
  font-size: 20px;
  padding: 14px 0;
}

.container > .card > .middle > .options {
  width: 100%;
  height: 50%;
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container > .card > .middle > .options > button {
  padding: 3px 0;
  color: #006864;
  border-radius: 10px;
  outline: 2px !important;
  border: 2px solid transparent;
}

.container > .card > .middle > .options > button:focus {
  border: 2px solid #006864 !important;
  color: #fff;
  background-color: #006864;
}

.container > .card > .middle > .options > ol > li {
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.container > .card > .middle > .options > ol > li:hover {
  cursor: pointer;
}

.container > .card > .bottom {
  position: absolute;
  bottom: 27px;
  right: 40px;
}

.container > .card > .bottom > button {
  padding: 5px 65px;
  border-radius: 10px;
  color: #fff;
  background-color: #006864;
  border: 2px solid transparent;
  transition: 0.4s all;
}

.container > .card > .bottom > button:hover {
  cursor: pointer;
  color: #006864;
  border: 2px solid #006864;
  background-color: transparent;
}

.active {
  color: #fff;
  background-color: #006864;
}

.oldQuizScreenHIDE {
  display: none;
}
.quizScreenMainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f7ff;
  min-height: 100vh;
  width: 100%;
  /* display: none; */
  /* border: 2px solid red; */
  /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
     */
}
.quizScreenUnderBox {
  width: 60%;
  /* border: 1px solid black; */
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f5f7ff;
}
.quizScreenUnderBox > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* border: 2px solid lime; */
  margin: 5px 0;
  border-bottom: 2px solid gray;
}

.quizScreenUnderBox > header h3 {
  font-size: large;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.quizScreenUnderBox > header h5 {
  background-color: #348f50;
  padding: 8px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}
.quizScreenMainBody {
  width: 100%;
  border-bottom: 2px solid lightgrey;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.quizScreenMainBody .quizQuestion,
.quizScreenMainBody .quizOption {
  width: 300px;
  /* border: 2px solid yellow; */
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* //delete */
  padding: 5px;
}
/* .quizScreenMainBody .quizOption{
    width: 14;
  } */
.quizQuestion h6 {
  line-height: 1.3em;
}

.quizScreenMainBody .quizOption li {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  padding: 8px;
  /* margin: 7px 0; */
  border-radius: 8px;
  /* border: 1px solid lightgray;
      box-shadow: 2px 2px 5px lightgrey; */
  cursor: pointer;
  word-wrap: break-word;
}

.optionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 8px;
  padding: 5px;
  margin: 7px 0;
  font-size: medium;
  overflow-wrap: anywhere;
}

.optionContainer input {
  margin: 0 5px;
}

.quizScreenMainBody .quizOption li:visited {
  background-image: linear-gradient(to left, #606c88, #3f4c6b);
  color: lightcyan;
}
.optionSelected {
  /* background-image:linear-gradient(to left , #606c88 , #3f4c6b) ; */
  color: lightcyan;
}

.wrongSelection {
  background-image: none;
  background-color: maroon;
}
.correctSelection {
  background-image: none;
  background-color: green !important;
}
.optionSelectedDisabled {
  pointer-events: none;
}

.quizScreenUnderBox > footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.quizScreenUnderBox > footer > div {
  margin: 5px 0;
}
.userNameShowQuiz {
  color: #348f50;
  margin: 0 3px 0 0;
}
.quizScreenUnderBox > footer button {
  font-size: small;
  width: 120px;
  padding: 8px;
  border: none;
  outline: none;
  background-color: #348f50;
  border-radius: 8px;
  color: white;
}
.quizScreenUnderBox > footer button:hover {
  background-color: #006838;
  transform: translateY(-3px);
}

@media only screen and (max-width: 1075px) {
  .quizScreenUnderBox {
    width: 80%;
  }
}

@media only screen and (max-width: 810px) {
  .quizScreenUnderBox {
    width: 90%;
  }
}

.radioBTNs {
  margin: 0px 5px;
  font-size: 22px;
}

.jawanLogo {
  margin: 10px 5px;
}
